<div class="conatiner">
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="authorForm">
        <div>
            <label for="surname">Фамилия</label>
            <input class="form-control" type="text" id="surname" formControlName="surname">
            <p class="alert alert-danger" *ngIf="surname.errors&&surname.dirty">
                поле не должно быть пустым
            </p>
        </div>
        <div>
            <label for="firstName">Имя</label>
            <input class="form-control" type="text" id="firstName" formControlName="firstName">
            <p class="alert alert-danger" *ngIf="firstName.errors&&firstName.dirty">
                поле не должно быть пустым
            </p>
        </div>
        <div>
            <label for="patronymic">Отчество</label>
            <input class="form-control" type="text" id="patronymic" formControlName="patronymic">
        </div>
        <div>
            <label for="bithDate">Дата рождения</label>
            <input class="form-control" type="date" id="bithDate" formControlName="bithDate">
            <p class="alert alert-danger" *ngIf="bithDate.errors&&bithDate.dirty">
                поле не должно быть пустым
            </p>
        </div>
        <div class="p-2">
            <label>Книги:</label>
            <a *ngIf="!toggle" class="btn btn-primary p-2" (click)="toggler()">Добавить книгу</a>
            <a *ngIf="toggle" class="btn btn-primary" (click)="toggler()">Отменить</a>
         </div>
        
        <div>
            <input  type="submit" class="btn btn-success m-2"> <input type="reset" class="btn btn-warning m-2">
        </div>
    </form>
    <form *ngIf="toggle" (ngSubmit)="addBook()" class="border border-secondary p-2 mt-3" [formGroup]="listBook">
            
            
        <div>
            <label for="title">Название</label>
            <input class="form-control" type="text" id="title" formControlName="title">
            <p class="alert alert-danger" *ngIf="title.errors&&title.dirty">
                поле не должно быть пустым
            </p>
        </div>
        <div>
            <label for="numberOfPages">Количество страниц</label>
            <input class="form-control" type="number" id="numberOfPages" formControlName="numberOfPages" >
            <p class="alert alert-danger" *ngIf="numberOfPages.errors&&numberOfPages.dirty">
                поле не должно быть пустым
            </p>
        </div>
        <div>
            <label for="genres">Жанр</label>
            
            <select
                class="form-control"
                id="genres"
                formControlName="genres"
                
            >
                <option selected>Выберите жанр</option>
                <option *ngFor="let g of genreList" > {{ g.name }}</option>
            </select>
            <p class="alert alert-danger" *ngIf="genres.value=='Выберите жанр'">
                выберите жанр
            </p>
        </div> 
        <div>
            <input class="btn btn-success m-2" type="submit" >
            <input class="btn btn-warning m-2" type="reset"  >
        </div>
    </form>
    <div> 
        <div class="d-flex justify-content-around border border-danger p-2 m-2" *ngFor="let b of books ">
            <div class="mr-5">
                <p> {{ b.title }} </p>
                <p> {{ b.genre }} {{ b.pages }} страниц</p>
            </div>
            <div class="d-flex flex-column">
                <button class="btn btn-primary" (click)="updateBook(b)"  >Редактировать</button>
                <button class="btn btn-danger" (click)="deleteBook(b.id)" >Удалить</button>
            </div>
            
        </div>
    </div>
</div>
