<div class="conatiner">
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="authorForm">
        <div>
            <label for="surname">Фамилия</label>
            <input class="form-control" type="text" id="surname" formControlName="surname">
        </div>
        <div>
            <label for="firstName">Имя</label>
            <input class="form-control" type="text" id="firstName" formControlName="firstName">
        </div>
        <div>
            <label for="patronymic">Отчество</label>
            <input class="form-control" type="text" id="patronymic" formControlName="patronymic">
        </div>
        <div>
            <label for="bithDate">Дата рождения</label>
            <input class="form-control" type="date" id="bithDate" formControlName="bithDate">
        </div>
        <div>
            <label>Книги:</label>
            <a *ngIf="!toggle" class="btn link-primary" (click)="toggler()">Добавить книгу</a>
            <a *ngIf="toggle" class="btn link-primary" (click)="toggler()">Отменить</a>
         </div>
        
        <div>
            <input type="submit" class="btn m-2"> <input type="reset" class="btn m-2">
        </div>
    </form>
    <form *ngIf="toggle" (ngSubmit)="addBook()" class="border border-secondary p-2 mt-3" [formGroup]="listBook">
            
            
        <div>
            <label for="title">Название</label>
            <input class="form-control" type="text" id="title" formControlName="title">
        </div>
        <div>
            <label for="numberOfPages">Количество страниц</label>
            <input class="form-control" type="number" id="numberOfPages" formControlName="numberOfPages" >
        </div>
        <div>
            <label for="genres">Жанр</label>
            
            <select
                class="form-control"
                id="genres"
                formControlName="genres"
                
            >
                <option selected>Выберите жанр</option>
                <option *ngFor="let g of genreList" > {{ g.name }}</option>
            </select>
        </div> 
        <div>
            <input class="btn m-2" type="submit" >
            <input class="btn m-2" type="reset"  >
        </div>
    </form>
    <div> 
        <div class="d-flex justify-content-around border border-danger p-2 m-2" *ngFor="let b of books ">
            <div class="mr-5">
                <p> {{ b.title }} </p>
                <p> {{ b.genre }} {{ b.pages }} страниц</p>
            </div>
            <div class="d-flex flex-column">
                <button class="btn link-primary" (click)="updateBook(b.id)"  >Редактировать</button>
                <button class="btn link-danger" (click)="deleteBook(b.id)" >Удалить</button>
            </div>
            <app-edit-book [updatedBook]="b" [toggleLock] = "b.id==togg"></app-edit-book>
        </div>
    </div>
</div>
