<div class="bg-light col-xl-5 m-auto">
    <form class="m-auto " (ngSubmit)="onSubmit()" [formGroup]="updateGenreForm">
        <div>
            <label for="name">Жанр</label>
            <input class="form-control" type="text" name="" id="name" formControlName="name">
            <p class="alert alert-danger" *ngIf="name.errors&&name.dirty">
                поле не должно быть пустым
            </p>
        </div>
        <div>
            <label for="description">Описание</label>
            <textarea class="form-control" id="description"  formControlName="description"></textarea>
            <p class="alert alert-danger" *ngIf="description.errors&&description.dirty">
                поле не должно быть пустым
            </p>
        </div>
        <div class="text-center">
            <input class="btn border border-success m-2" type="submit" value="Изменить">
            <input class="btn border border-secondary m-2" (click)="goBack()" type="button" value="Вернуться" >
        </div>
        
    </form>
</div>
