<header class="container-fluid bg-dark text-light p-5">
    <h1 class="text-center text-uppercase">my own library</h1>
    
</header>
<main class="container">
    <div class="nav nav-bar">
        <a href="" [routerLink]="['authors']" routerLinkActive="active" class="btn btn-secondary text-capitalize m-2">авторы</a>
        <a href="" [routerLink]="['genres']" routerLinkActive="active"  class="btn btn-secondary text-capitalize m-2">жанры</a>
        
    </div>
    <div>
        <router-outlet></router-outlet>
        
    </div>
</main>
<footer class="container-fluid bg-dark text-light p-3">
    <p class="text-center">made by btcthirst</p>
</footer>