<div class="container">
    <div class="container pt-3">
        <a href="">Добавить жанр</a>
    </div>
    <div class="container pt-5">
        <table class="table">
            <tr>
                <th>Жанр</th>
                <th>Описание</th>
                <th></th>
            </tr>
            <tr>
                <td>Лирическое стихотворение</td>
                <td>Самый любимый читателями и слушателями представитель поэтического жанра – лирическое стихотворение. Небольшое по объему, часто написанное от первого лица, стихотворение передает чувства, настроения, переживания лирического героя, или непосредственно автора стиха.</td>
                <td><a href="">Редактировать</a><a href="">Удалить</a></td>
            </tr>
            <tr>
                <td>Повесть</td>
                <td>средний (между рассказом и романом) эпический жанр, в котором представлен ряд эпизодов из жизни героя (героев). По объёму П. больше рассказа и шире изображает действительность, рисуя цепь эпизодов, составляющих определенный период жизни главного персонажа, в ней больше событий и действующих лиц, однако, в отличие от романа, как правило, одна сюжетная линия.</td>
                <td><a href="">Редактировать</a><a href="">Удалить</a></td>
            </tr>
            <tr>
                <td>Рассказ</td>
                <td>малый эпический жанр: прозаическое произведение небольшого объема, в котором, как правило, изображаются одно или несколько событий жизни героя.</td>
                <td><a href="">Редактировать</a><a href="">Удалить</a></td>
            </tr>
            <tr>
                <td>Роман</td>
                <td>жанр эпоса: большое эпическое произведение, в котором всесторонне изображается жизнь людей в определенный период времени или в течение целой человеческой жизни.</td>
                <td><a href="">Редактировать</a><a href="">Удалить</a></td>
            </tr>
        </table>
    </div>
    
</div>
