<div class="container">
    <button class="btn link-primary" [routerLink]="['add-genre']" routerLinkActive="active">Добавить жанр</button>
    <div class="container pt-5">
        <table class="table">
            <tr>
                <th>Жанр</th>
                <th>Описание</th>
                <th></th>
            </tr>
            <tr *ngFor="let g of genres">
                <td>{{ g.name }}</td>
                <td> {{ g.description }} </td>
                <td><input type="button" class="my-btn" (click)="updateGenre(g.id)" value="Редактировать"></td>
                <td><input type="button" class="my-btn" (click)="deleteGenre(g.id)" value="Удалить"></td>
                    
                
            </tr>
            
        </table>
    </div>
    
</div>

