<div class="container">
    <div *ngIf="!toggle" class="container pt-3">
        <button (click)="toggler()" class="btn btn-light text-primary">Добавить жанр</button>
        
    </div>
    <div *ngIf="toggle" class="container pt-3">
        <button (click)="toggler()" class="btn btn-light text-primary">Отмена</button>
        <app-add-genre></app-add-genre>
    </div>
    <div class="container pt-5">
        <table class="table">
            <tr>
                <th>Жанр</th>
                <th>Описание</th>
                <th></th>
            </tr>
            <tr *ngFor="let g of genres">
                <td>{{ g.name }}</td>
                <td> {{ g.description }} </td>
                <td><a href="">Редактировать</a><a href="">Удалить</a></td>
            </tr>
            
        </table>
    </div>
    
</div>

