<div class="">
    <div class="container pt-3">
        <a href="" [routerLink]="['add-author']" routerLinkActive="active">Добавить автора</a>
    </div>
    
    <div class="container pt-5">
        <table class="table">
            <tr>
                <th>Авторы</th>
                <th>Книг в базе</th>
                <th></th>
            </tr>
            <tr>
                <td>Пушкин А.С.</td>
                <td>5</td>
                <td><a href="">Редактировать</a><a href="">Удалить</a><a href="">Детали</a></td>
            </tr>
            <tr>
                <td>Тургеньев И.С.</td>
                <td>1</td>
                <td><a href="">Редактировать</a><a href="">Удалить</a><a href="">Детали</a></td>
            </tr>
            <tr>
                <td>Шевченко Т.Г.</td>
                <td>2</td>
                <td><a href="">Редактировать</a><a href="">Удалить</a><a href="">Детали</a></td>
            </tr>
        </table>
    </div>
</div>
