<div class="">
    <div class="container pt-3">
        <a href="" [routerLink]="['add-author']" routerLinkActive="active">Добавить автора</a>
    </div>
    
    <div class="container pt-5">
        <table class="table">
            <tr>
                <th>Авторы</th>
                <th>Книг в базе</th>
                <th></th>
            </tr>
            <tr *ngFor="let a of authors">
                <td>{{ a.surname }} {{ a.firstName }} {{ a.patronymic }}  </td>
                <td> {{ a.books.length }} </td>
                <td><a href="">Редактировать</a><a href="">Удалить</a><a href="">Детали</a></td>
            </tr>
            
        </table>
    </div>
</div>
